<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
  <Identity Name="ConvergenceSystemsLimited.CS108UWPWEDGEDemo" Publisher="CN=781A704A-3406-4460-BC4A-0B7C6B92AAAB" Version="2.1.2.0" />
  <mp:PhoneIdentity PhoneProductId="d4a3d1b9-37c8-4396-9fc9-3bc23012e836" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CS108 UWP WEDGE Demo</DisplayName>
    <PublisherDisplayName>Convergence Systems Limited</PublisherDisplayName>
    <Logo>Assets\StoreLogo-sdk.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.14393.0" MaxVersionTested="10.0.16299.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="BluetoothLE.App" Executable="$targetnametoken$.exe" EntryPoint="BluetoothLE.App">
      <uap:VisualElements DisplayName="CS108 UWP Demo" Square150x150Logo="Assets\squareTile-sdk.png" Square44x44Logo="Assets\SmallTile-sdk.png" Description="CS108 UWP Barcode Demo" BackgroundColor="#00b2f0">
        <uap:SplashScreen Image="Assets\Splash-sdk.png" />
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <!--BT_Code: Always declare the bluetooth capability when using Bluetooth-->
    <rescap:Capability Name="inputInjectionBrokered" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>